@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Hammersmith+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(26, 27, 27);
}


#titulo-principal {
  padding: 3vw;
  border: white 0.3vw solid;
  border-radius: 2vw;
  margin-top: 10vh;
  font-weight: 400;
}

#titulo-principal h1 {
  color: #88d0ec;
  font-size: 6vw;
  letter-spacing: 1vw;
  font-weight: 600;
}
#titulo-principal p {
  font-size: 2vw;
  letter-spacing: 0.1vw;
  word-spacing: 0.5vw;
  line-height: 4vh;
  color: #20a0b9; 
}


main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 3vw;
  border: white 0.3vw solid;
  border-radius: 2vw;
  margin: 0 6vw;
}

main section {
  padding: 3vw;
  border: white 0.3vw solid;
  border-radius: 2vw;
  margin: 5vh 0;
  color: white;
  font-size: 1.5vw;
  letter-spacing: 0.09vw;
  font-weight: 100;
}

main section h2 {
  font-size: 6vw;
  letter-spacing: 0.6vw;
  font-weight: 300;
  margin-bottom: 2vh;
}
    
main section img {
  width: 100%;
  border-radius: 2vw;
  border-left: white 0.5vw solid;
  margin-bottom: 3vh;
}
